@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <nav class="navbar navbar-light bg-light">
                <a class="navbar-brand" href="#">
                    <img src="/Images/Brand/Icon.png" width="30" height="30" class="d-inline-block align-top" alt="">
                </a>

                <ul class="navbar-nav d-flex flex-row ms-auto">
                    <li class="nav-item me-3">
                        <a class="nav-link" href="/">Map</a>
                    </li>
                    <li class="nav-item me-3">
                        <a class="nav-link" href="/search">Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/account/edit">You</a>
                    </li>
                </ul>
            </nav>
        </div>

        <div>
            @Body
        </div>
    </main>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>
