@page "/"

<PageTitle>Home</PageTitle>

<h1>Hello, world!</h1>

<GoogleMap ApiKey="AIzaSyDFMnsCfQEvTnzYiqVZD1rwK3ZnFLtTziI"
           Center="new GoogleMapCenter(54.12, -6.24)"
           Height="400"
           Width="100"
           Zoom="8" />


Welcome to your new app.
