@page "/terms-and-conditions"

<div class="container py-4">
    <div class="row">
        <div class="col-lg-10 offset-lg-1">
            <h1 class="mb-4">SMS and Email Power Outage Updates – Terms and Conditions</h1>
            <p>By opting to receive text messages or emails for power outage updates from NIE Networks, you agree to the following Terms and Conditions:</p>

            <ul class="list-unstyled">
                <li class="mb-3">
                    <strong>Usage:</strong> You agree to the use of the mobile/cell phone number or email address you have provided for the purposes of receiving power outage updates relating to an identified outage on the <a href="https://powercheck.nienetworks.co.uk/" target="_blank">NIE Networks PowerCheck</a> web application.
                </li>
                <li class="mb-3">
                    You confirm that the mobile/cell phone number or email address you have provided is correct and NIE Networks cannot hold any responsibility in the event that the number provided or email address is incorrect or is that of an unrelated third party.
                </li>
                <li class="mb-3">
                    The information provided in updates you receive are estimates only. NIE Networks does not undertake or guarantee that power will be restored within published timescales and will not be liable if estimates for restoration of power are not achieved.
                </li>
                <li class="mb-3">
                    NIE Networks will not be responsible or liable for any failure in delivery, or timely delivery, of text or email messages resulting from communications network problems or connectivity issues at your end.
                </li>
                <li class="mb-3">
                    NIE Networks does not guarantee full availability or performance of this service.
                </li>
                <li class="mb-3">
                    NIE Networks will only use the mobile/cell phone number or email address to send outage update information in relation to the specific outage requested. This data will be retained for a period of three months from the clearance of the last outage associated with your mobile/cell phone number or email address, for the purpose of dealing with queries or complaints. Where NIE Networks holds the same information for other purposes, that information will be retained and processed in accordance with <a href="https://www.nienetworks.co.uk/privacy-policy" target="_blank">NIE Networks data privacy</a>.
                </li>
                <li class="mb-3">
                    NIE Networks will send an update when the power has been restored, and will not send you any further updates for that specific outage.
                </li>
                <li class="mb-3">
                    Please be aware when you receive SMS notifications, “NIE Networks” will appear as the sender and when you receive email notifications, a specific noreply@nienetworks.co.uk email address will appear as the sender.
                </li>
                <li class="mb-3">
                    You can only select to request updates on a maximum of 10 outages at any time.
                </li>
                <li class="mb-3">
                    Text message format may vary from handset to handset and across providers.
                </li>
                <li class="mb-3">
                    To opt out of this service, please click on the link to unsubscribe on the SMS or email you receive. This is an automated process to stop this service only. Any other communications replying to these SMS or Emails will not receive a response.
                </li>
                <li class="mb-3">
                    For further information on how NIE Networks uses your personal data, and what to do if you have a complaint, please refer to the <a href="https://www.nienetworks.co.uk/privacy-policy" target="_blank">NIE Networks data privacy</a>.
                </li>
            </ul>
        </div>
    </div>
</div>